# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Vincent Mancois

**Objectives:**
- List popular languages that Data Scientists use
- List commonly used libraries used by Data Scientists
- List data science tools
- Create a simple arithmetic expression that multiplies then adds integers
- Write a function in python that converts 200 minutes in hours

**Some of the popular languages that Data Scientists use are:**
1. Python
2. C/C++
3. Java
4. Javascript
5. R
6. Julia
7. SQL

**Some of the commonly used libraries used by Data Scientists include:**
1. Scikit-learn
2. Numpy
3. Pandas
4. Matplotlib
5. Tensorflow
6. Pytorch
7. Keras

| Data Science Tools |
|--------------------|
| Anaconda           |
| JupyterLab         |
| Datacamp Workspace |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [19]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [20]:
def conversion(t:int) -> float:
    """This function converts a duration in minutes t (int) into
    a duration in hours (float).
    """
    return t/60

T = 200 # Time in minutes (int)

conversion(T)

3.3333333333333335